# 네이버 증권 주가 지수 크롤링

ex) KODEX필수소비재 일일시세 주소는 아래와 같습니다.<br>
https://finance.naver.com/item/sise_day.nhn?code=266410&page=1

페이지마다 인덱스가 있으며, 1페이지에 열흘치의 시세를 보여줍니다.<br>
크롤러에는 페이지 수와 코드를 입력합니다.<br>
보통 50페이지까지 가면 최근 1년치를 보여줍니다.

(출처 : https://blog.naver.com/jjys9047/221555400294)

### 빅콘 홈쇼핑 과제를 위해 추출할 지수 코드들

TIGER 헬스케어 143860
- 셀트리온, 삼바, 한미, 씨젠, 신풍 등
- 건강이 위협되는 시기에 급등하는 경향을 보임. 코로나 최고 수혜주

TIGER 방송통신 098560
- SKT, LGU+, KT, 세종T, SBS, 스라, 헬로비전 등
- 통신주, IPTV주 등이며, 경기에 크게 영향을 받지 않으나, 홈쇼핑을 송출하는 친구들이라 넣어줌

TIGER 화장품 228790
- 콜마, LG생건, 코스맥스, 아모레, 코리아나 등
- 화장품은 생필품이라 경기에 크게 영향을 받지 않는 편임. 그래도 홈쇼핑 판매 물품이기에 넣어줌.

TIGER 여행레저 228800
- 롯데관광, 아시아나, 파라다이스, 호텔신라, 제주항공 등
- 이번 과제에는 여행 상품을 예측하지 않지만, 여행과도 상관성이 있을 수 있기 때문에 넣어줌.

TIGER 200 생활소비재 227560
- LG생건, KT&G, 한전, 아모레, CJ제일제당, 오리온, 이마트, 하이트진로 등
- 생활소비재는 생활 필수품 위주이기 때문에 경기에 영향이 적음. 오히려 경기가 어려울수록 굳건해지는데 그래서 넣어봄.

TIGER 200 산업재 227550
- 현대글로비스, 에스원, KAL, KAI, HMM, 팬오션, 대한통운 등
- 물류 관련주 모임. 물류 유통은 경제의 핏줄이기 때문에 영향이 분명히 있을 것이라 판단.

TIGER 의료기기 307510
- 씨젠, 레고켐바이오, 치바이오텍, 오스코텍 등
- 의료기기가 아무래도 많이 팔릴 수도 있기 때문에 넣어줌.

In [5]:
import requests
from bs4 import BeautifulSoup
from pprint import pprint
import pandas as pd
import time

In [41]:
%%time

url = 'https://finance.naver.com/item/sise_day.nhn' # URL은 고정
result = []
tdtext_list = ['날짜', '종가', '전일비', '시가', '고가', '저가', '거래량']

for num in range(16, 43): # 페이지 범위 지정
    params = {'code' : '227550', # 지수 코드 지정
              'page' : f'{num}'}
    
    resp = requests.get(url, params = params)
    soup = BeautifulSoup(resp.content, 'html.parser')

    for tr in soup.find_all('tr')[2:14]:
        new_dict = { }
        td_list = tr.find_all('td')
        if not td_list[0].text.strip():
            continue
        for i in range(7):
            new_dict[tdtext_list[i]] = td_list[i].text.strip()
        result.append(new_dict)
        

df = pd.DataFrame(result, columns = tdtext_list)

# 저장해줍니다.
#df.to_csv("./stock_df.csv")

Wall time: 6.18 s

In [64]:
%%time

url = 'https://finance.naver.com/item/sise_day.nhn' # URL은 고정
result = []
tdtext_list = ['날짜', '종가']

for num in range(16, 43): # 페이지 범위 지정
    params = {'code' : '227550', # 지수 코드 지정
              'page' : f'{num}'}
    
    resp = requests.get(url, params = params)
    soup = BeautifulSoup(resp.content, 'html.parser')

    for tr in soup.find_all('tr')[2:14]:
        new_dict = { }
        td_list = tr.find_all('td')
        if not td_list[0].text.strip():
            continue
        for i in range(2):
            new_dict[tdtext_list[i]] = td_list[i].text.strip()
        result.append(new_dict)
        

df = pd.Series(result)
# 저장해줍니다.
#df.to_csv("./stock_df.csv")

Wall time: 5.09 s

In [70]:
def stock_crawler(code):

    for c, i in zip(code, range(len(code))):
        
        url = 'https://finance.naver.com/item/sise_day.nhn' # URL은 고정
        result = []
        tdtext_list = ['날짜', c]

        for num in range(16, 43): # 페이지 범위 지정
            params = {'code' : c, # 지수 코드 지정
                      'page' : f'{num}'}

            resp = requests.get(url, params = params)
            soup = BeautifulSoup(resp.content, 'html.parser')

            for tr in soup.find_all('tr')[2:14]:
                new_dict = { }
                td_list = tr.find_all('td')
                if not td_list[0].text.strip():
                    continue
                for i in range(2):
                    new_dict[tdtext_list[i]] = td_list[i].text.strip()
                result.append(new_dict)

        globals()['stock_{}'.format(c)] = pd.DataFrame(result, columns = tdtext_list)

In [71]:
code = ['143860', '098560', '228790', '228800', '227560', '227550', '307510']

In [72]:
stock_crawler(code)

In [74]:
stock_098560.shape, stock_143860.shape, stock_227550.shape, stock_227560.shape, stock_228800.shape, stock_307510.shape

((243, 2), (243, 2), (243, 2), (243, 2), (243, 2), (243, 2))

In [76]:
# 다 합쳐줍니다. 함수로 하고 싶은데,너무 귀찮습니다. 알고리즘 짜기. 그냥 노가다 뜁니다.
stock_all = pd.merge(stock_098560, stock_143860, on='날짜')
stock_all = pd.merge(stock_all, stock_227550, on='날짜')
stock_all = pd.merge(stock_all, stock_227560, on='날짜')
stock_all = pd.merge(stock_all, stock_228790, on='날짜')
stock_all = pd.merge(stock_all, stock_228800, on='날짜')
stock_all = pd.merge(stock_all, stock_307510, on='날짜')

# datetime으로 바꿔줍니다.
stock_all['날짜'] = pd.to_datetime(stock_all['날짜'], errors='coerce')

             날짜  098560  143860 227550  227560 228790 228800  307510
0    2020.01.28   8,130  27,810  4,700  10,605  3,160  4,035  10,670
1    2020.01.23   8,335  28,205  4,875  11,045  3,430  4,350  10,770
2    2020.01.22   8,415  28,285  4,820  11,160  3,505  4,420  10,750
3    2020.01.21   8,400  27,690  4,830  11,140  3,440  4,430  10,595
4    2020.01.20   8,425  28,015  4,845  11,225  3,515  4,515  10,710
..          ...     ...     ...    ...     ...    ...    ...     ...
238  2018.12.27   9,980  35,180  4,930  11,965  3,560  4,585   9,810
239  2018.12.26   9,850  34,950  4,800  11,795  3,415  4,455   9,570
240  2018.12.24  10,000  34,295  4,935  11,935  3,445  4,470   9,650
241  2018.12.21  10,135  34,825  4,980  12,040  3,495  4,560   9,685
242  2018.12.20  10,185  34,550  4,980  12,135  3,545  4,555   9,735

[243 rows x 8 columns]

In [79]:
stock_all['날짜'] = pd.to_datetime(stock_all['날짜'], errors='coerce')